.result {
  font-size: 80px;
  color: #f86c6b;
}

.history {
  margin-top: 20px;
}

.question-image {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.image-small {
  width: 70%;
  height: 70%;
}

button {
  outline: none;
}
