<div class="animated fadeIn" [ngClass]="{'disable-element': isStartGame}">
  <div class="row">
    <div class="col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">Chọn chủ đề</li>
        <li class="list-group-item list-group-item-action"
            *ngFor="let topic of topics"
            [ngClass]="{'list-group-item-success': selectedTopicItem === topic}"
            (click)="chooseTopic($event, topic)">
          {{topic.name}}
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">Chọn độ khó</li>
        <li class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-success': selectedLevel === GAME_LEVEL.EASY}"
            (click)="chooseLevel($event, GAME_LEVEL.EASY)">
          Dễ
        </li>
        <li class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-success': selectedLevel === GAME_LEVEL.MEDIUM}"
            (click)="chooseLevel($event, GAME_LEVEL.MEDIUM)">
          Trung bình
        </li>
        <li class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-success': selectedLevel === GAME_LEVEL.HARD}"
            (click)="chooseLevel($event, GAME_LEVEL.HARD)">
          Khó
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">Chọn kiểu chơi</li>
        <li class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-success': selectedGameTypeItem === GAME_TYPE.CHALLENGE}"
            (click)="chooseGameType($event, GAME_TYPE.CHALLENGE)">
          Thách đấu
        </li>
        <li class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-success': selectedGameTypeItem === GAME_TYPE.NORMAL}"
            (click)="chooseGameType($event, GAME_TYPE.NORMAL)">
          Tìm game
        </li>
      </ul>
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
      <button class="btn btn-lg btn-success btn-block"
              [disabled]="!selectedGameTypeItem || !selectedTopicItem || !selectedLevel"
              (click)="startGame()">
        Bắt đầu
      </button>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="loader justify-content-center" [ngClass]="{'disable-element': !isStartGame}"></div>
</div>

<!--<div class="loader" [ngClass]="{'disable-element': !isStartGame}"></div>-->
