<div class="animated fadeIn">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Chỉ hiển thị 10 kết quả gần với tìm kiếm nhất
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="email" id="input2-group2" name="input2-group2" class="form-control" placeholder="Question content">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

