<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Search info
          <a href="javascript:;" (click)="onClickAdvanceSearch($event)">Small</a>
        </div>
        <div class="card-body" [ngClass]="{'hide-card': isHidden, 'visually-hidden': isVisuallyHidden, 'show-card': isShow}">
          <form #searchForm="ngForm" class="form-horizontal" (submit)="onSubmitSearch($event, searchForm)">
            <div class="form-group row">
              <div class="form-group col-sm-4">
                <label for="level">Level</label>
                <select class="form-control" id="level" name="level" ngModel>
                  <option value="">--</option>
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label for="topic">Topic</label>
                <select class="form-control" id="topic" name="topic" ngModel>
                  <option value="">--</option>
                  <option *ngFor="let topic of topics" value="{{topic._id}}">{{topic.name}}</option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label for="type">Question type</label>
                <select class="form-control" id="type" name="type" ngModel>
                  <option value="">--</option>
                  <option value="text">Text</option>
                  <option value="image">Image</option>
                </select>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="code">Question code</label>
                  <input type="text" class="form-control" id="code" name ="code" placeholder="Input question code" ngModel>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="answer">Answer</label>
                  <input type="text" class="form-control" id="answer" name="answer" placeholder="Input answer" ngModel>
                </div>
              </div>
              <div class="col-sm-6"></div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="content">Content</label>
                  <textarea id="content" name="content" rows="4" class="form-control" placeholder="Input content" ngModel></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-md btn-success"><i class="fa fa-search"></i> Find</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div #tableQuestion class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ng2-smart-table [settings]="settings" [source]="source"
                           (delete)="onDeleteQuestion($event)"
                           (create)="onCreateQuestion($event)"
                           (edit)="onEditQuestion($event)">

          </ng2-smart-table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<app-create-modal [topics]="topics"
                  [photo]="photo"
                  (updateTable)="updateTable($event)">
</app-create-modal>

<app-edit-modal [topics]="topics"
                  [photo]="photo"
                  (updateTable)="updateTable($event)">
</app-edit-modal>
