<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <h2 class="info"><i class="fa fa-clock-o"></i> {{countTime | date:'mm:ss' }}</h2>
          <input type="text" [(ngModel)]="countTime" hidden>
        </div>
        <div class="col-md-3">
          <h2 class="info"><i class="fa fa-check-circle-o"></i> {{currentIndex + 1 + '/' + gameData.package.questions.length}}</h2>
        </div>
        <div class="col-md-3">
          <h2 class="info"><i class="fa fa-bullseye"></i> {{result.points}}</h2>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2 class="question-content">{{currentQuestion.content}}</h2>
          <div class="center-image" *ngIf="currentQuestion.image">
            <img src="{{'../../../../' + currentQuestion.image}}" class="img-thumbnail image-small"/>
            <!--<img src="../../../../assets/img/myImage/default1.jpg" class="img-thumbnail image-small"/>-->
          </div>
          <button type="button" *ngFor="let a of currentQuestion.answers"
                  class="btn btn-outline-primary btn-lg btn-block"
                  (click)="onChooseAnswer(a)">
            {{a.content}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
