/*:host /deep/ ng2-smart-table tbody > tr > td:first-child {
  color: #000000;
}

:host /deep/ ng2-smart-table tbody > tr > td > a {
  color: #000000;
}

:host /deep/ ng2-smart-table tbody > tr > th > a {
  color: #000000;
}

:host /deep/ a { color: #000000; }
:host /deep/ a:link { color: #000000; }
:host /deep/ a:hover { color: #000000; }
:host /deep/ a:focus { color: #000000; }

:host /deep/ ng2-smart-table a { color: #000000; }
:host /deep/ ng2-smart-table a:link { color: #000000; }
:host /deep/ ng2-smart-table a:hover { color: #000000; }
:host /deep/ ng2-smart-table a:focus { color: #000000; }

:host /deep/ tr.ng2-smart-row a { color: #000000; }
:host /deep/ tr.ng2-smart-row a:link { color: #000000; }
:host /deep/ tr.ng2-smart-row a:hover { color: #000000; }
:host /deep/ tr.ng2-smart-row a:focus { color: #000000; }*/


